/* input {
    margin: 2px;
    height: 35px;
    border-radius: 5px;
    border: lightgray thin solid;
    padding-left: 5px;
}

.inputDiv>p {
    font-family: sans-serif;
    display: inline;
    text-align: center;
    margin-left: 25px;
    padding: 10px;
}


.inputDiv>select {
    margin: 2px;
    height: 35px;
    border-radius: 5px;
    border: lightgray thin solid;
    padding-left: 5px;
}

.food {
    width: 300px;
    background-color: rgb(240, 240, 240);
}

.weight {
    width: 90px;
    background-color: rgb(240, 240, 240);
} */
