.CarbTrackerDiv {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 100px;
  justify-items: center;
}

.FormElement>div {
  display: inline;
}

.formHeading {
  margin: 0;
}

.Tracker {
  width: 2fr;
  grid-column: 2;
  grid-row: 3;
}

.Tracker>h1 {
  font-family: sans-serif;
}

.trackerh1 {
  grid-column: 2;
  font-family: sans-serif;
  font-size: xxx-large;
  color: rgb(58, 85, 243);
}